/* EXPERIMENT 1 | "RESPONSIVE"
============================================================ */

/* COLOR VARIABLES
============================================================ */

:root {
  --accent: white;
  --light: purple;
  --dark: darkgreen;   
}

/* BASE STYLES
============================================================ */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  background: var(--light);
  color: var(--accent);
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
  padding: 0.5em;
  /* 1 em is 16 in this file */
  display: grid;
  justify-items: center;
  align-content: center;
}

.container {
  max-width: 35em;
}

/* TYPOGRAPHY
============================================================ */

h1 {
  font-size: 2em;
  line-height: 100%;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

h2 {
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

h3 {
  margin: 0 0 1em 0;
  font-size: 1em;
}

p {
  margin: 0 0 1em 0;
  font-size: 1em;
}

a {
  color: inherit;
}

/* CARDS
============================================================ */

.cards {
  margin-top: 2em;
}

.card {
  background-color: var(--accent);
  color: var(--light);
  text-decoration: none;
  padding: 0.5em;
  display: block;
  margin-bottom: 1em;
  border: 2px solid var(--accent);
  transition: all 0.5s;
  overflow: hidden;
}

.card:hover {
  background-color: var(--dark);
  color: var(--accent);
}

.card img {
  display: block;
  width: 100%;
  margin: 0 0 0.5em 0;
  transition: transform 0.75s;
  transform-origin: bottom;
}

.card:hover img {
  transform: scale(1.2);
}

.card p {
  font-weight: normal;
}

/* BUTTONS
============================================================ */

.button {
  display: inline-block;
  color: var(--accent);
  border: 2px solid var(--accent);
  padding: 0.5em 1em;
  transition: all 0.5s;
  text-decoration: none;
  outline: none;
  border-radius: 0;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button:hover {
  color: var(--light);
  background-color: var(--accent);
}

.invert {
  color: var(--light);
  background-color: var(--accent);
  border: 2px solid var(--light);
}

.invert:hover {
  color: var(--accent);
  background-color: var(--light);
}

/* HEADER
============================================================ */

header {
  display: grid;
  justify-items: center;
  align-content: space-between;
  min-height: 100vh;
}

.badge {
  margin-top: 2em;
}

.banner-image {
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  min-height: 10em;
}

/* CONTACT FORM
============================================================ */

form {
  width: 100%;
}

input, textarea {
  display: block;
  color: var(--accent);
  background-color: var(--light);
  padding: 0.5em;
  border: 2px solid var(--accent);
  transition: all 0.5s;
  text-decoration: none;
  outline: none;
  border-radius: 0;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  margin-bottom: 1em;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}

input:focus, textarea:focus {
  background-color: var(--accent);
  color: var(--light);
}

label {
  font-size: 0.75em;
  font-weight: bold;
  display: block;
  margin: 0;
}

::placeholder {
  color: var(--accent);
  opacity: 50%;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

/* WHO WE ARE
============================================================ */

.who-we-are {
  background-color: var(--accent);
  margin-bottom: 25vh;
  color: var(--light);
}

/* FOOTER
============================================================ */
footer {
  padding: 0.5em;
  display: grid;
  justify-items: center;
  row-gap: 2em;
  align-content: end;
  align-items: end;
  text-align: center;
  grid-template-columns: 1fr;
}

/* MEDIA QUERIES
============================================================ */
/* Media queries should be smallest px to biggest */

@media (min-width: 600px) {
  .cards {
    display: grid; 
    grid-template-columns: 50% 50%;
    column-gap: 0.5em;
    /* gap any larger will result in a horizontal scroll bar */
  }
}

@media (min-width: 850px) {
.cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
  }
  footer {
    grid-template-columns: 1fr 1fr;
    justify-items: start; 
  }
}

@media (min-width: 1000px) {
  /* this is a conditional statement */
  /* If screen is x amount of pixels wide, make this change */ 

  body {
    font-size: 48px;
  }

  /*
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark);
    }
    ================================
    -- I don't like how this looks on mine; just want to show that I did it! */

  }
}